/*  your css code here. If applicable */
#line {
  width: 200px;
  height: 2px;
  background: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
}
